.rodape {
  width: 100%;
  height: 160px;
  max-height: 20%;
  background: #f2f5fc;
  display: flex;
  flex-direction: column;
}
.rodMiddle {
  max-width: 100%;
  height: 70%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rodLogo {
  display: flex;
  align-items: center;
}
.rodLogo h1 {
  color: #006eff;
  font-size: 50px;
  font-weight: 100;
}
.rodLogo h2 {
  color: #006eff;
  font-size: 50px;
  font-weight: 700;
}
.rodInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.rodInfo p {
  font-size: 14px;
  margin: 3px 0;
}
.rodBottom {
  max-width: 100%;
  height: 30%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d82f0;
}
.rodBottom p {
  font-size: 14px;
  color: #fff;
}
/* Responsiveness */
@media (max-width: 429px) {
  .rodMiddle {
    flex-direction: column;
    justify-content: center;
  }
  .rodLogo {
    display: none;
  }
}
